# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#JUCE generated content
Builds
BinaryData.h
BinaryData.cpp
BinaryData2.cpp

#Doxygen
Doxygen/doc
Doxygen/resultPages

#Windows Temp Cache Files
[Tt]humbs.db

#macOS Finder and whatnot
.DS_Store
*.DS_Store
*.swp
*~

#Visual Studio Code files
.vscode/

#Other source repository archive directories (protects when importing)
.hg
.svn
CVS

*.pfx
*.p12

